.notification {
    background-color: lightgray;
    border-width: 5px;
    border-style: solid;
    color: black;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}

.success {
    border-color: green;
}

.error {
    border-color: red;
}

.info {
    border-color: yellow;
}
